@import "tailwindcss";

body{
  background-color: oklch(98% 0.016 73.684);
}

@keyframes pulseRing {
  0% { box-shadow: 0 0 0 0 rgba(232, 98, 42, 0.5); }
  70% { box-shadow: 0 0 0 12px rgba(232, 98, 42, 0); }
  100% { box-shadow: 0 0 0 0 rgba(232, 98, 42, 0); }
}
@keyframes subtleBounce {
  0%, 100% { transform: translateY(0); }
  0%, 85%, 100% { transform: rotate(0deg)}
  30% { transform: translateY(-6px); }
  50% { transform: translateY(-3px); }
  70% { transform: translateY(-6px); }
  90% { transform: rotate(-15deg); }
  95% { transform: rotate(15deg); }
}

.fab-attention {
  animation: pulseRing 1.5s ease-out infinite, subtleBounce 2.5s ease-in-out infinite;
}